<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net45" />
  <package id="Crystal.Reports.Essentials" version="13.0.2000.0" targetFramework="net45" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net45" />
  <package id="CrystalQuartz.Remote" version="3.1.0.0" targetFramework="net45" />
  <package id="Quartz" version="2.3.3" targetFramework="net45" />
</packages>